---
- name: add thing-printer feeds
  apt_key:
    url: http://kamikaze.thing-printer.com/debian/public.gpg
    state: present

- name: Add specified repository into sources list
  apt_repository:
    repo: deb [arch=armhf] http://kamikaze.thing-printer.com/debian/ stretch main
    state: present

- name: update package list
  apt:
    update_cache: yes

- name: install egl and libegles2
  apt:
    pkg:
      - libegl1-sgx-omap3
      - libgles2-sgx-omap3
    state: present
    force: yes

- name: install egl and libegles2
  apt:
    pkg:
      - ti-sgx-ti335x-modules-4.14.108-ti-r137
      - gir1.2-mash-0.3-0
      - gir1.2-mx-2.0
      - libcogl20
      - libclutter-1.0-0
      - libclutter-imcontext-0.1-0
      - libcluttergesture-0.0.2-0
      - libclutter-1.0-common
      - libclutter-imcontext-0.1-bin
      - libcogl-common
      - libmx-bin
    state: present
    force: yes

- name: clone toggle from git
  git:
    repo: https://github.com/intelligent-agent/toggle
    dest: '{{ toggle_home }}/src/toggle'
    version: dev
    depth: 1

- name: copy toggle service file
  copy:
    src: '{{ role_path }}/files/toggle.service'
    dest: /lib/systemd/system/toggle.service

- name: grant sudo to octo user for restarting toggle service
  lineinfile:
    path: /etc/sudoers.d/octo
    line: '%octo ALL=NOPASSWD: /bin/systemctl restart toggle.service'
    state: present

- name: install pip3 dependencies
  pip:
    virtualenv: '{{ toggle_home }}'
    virtualenv_python: python3.6
    requirements: '{{ toggle_home }}/src/toggle/requirements.txt'

- name: install pip3 dependencies
  pip:
    virtualenv: '{{ toggle_home }}'
    virtualenv_python: python3.6
    name:
     - gobject
     - PyGObject

- name: clone pyconnman
  git:
    repo: https://github.com/liamw9534/pyconnman
    dest: '{{ toggle_home }}/src/pyconnman'
    depth: 1

- name: install pyconnman in venv
  shell:
    cmd: 'cd {{ toggle_home }}/src/pyconnman ; ../../bin/python setup.py clean install'

- name: install toggle in venv
  shell:
    cmd: 'cd {{ toggle_home }}/src/toggle ; {{ toggle_home }}/bin/pip install -e . -r requirements.txt ; {{ toggle_home }}/bin/python setup.py clean install'

- name: make config directory
  file:
    path: /etc/toggle
    state: directory
    owner: octo
    group: octo

- name: copy toggle configs
  copy:
    src: '{{ toggle_home }}/src/toggle/configs/'
    dest: /etc/toggle
    owner: octo
    group: octo

- name: touch the local.cfg file
  file:
    path: /etc/toggle/local.cfg
    state: touch
    owner: octo
    group: octo

- name: enable the toggle service
  service:
    name: toggle
    enabled: yes

- name: clone octoprint toggle plugin from git
  git:
    repo: https://github.com/intelligent-agent/octoprint_toggle
    dest: /usr/src/octoprint_toggle

- name: install octoprint toggle plugin in virtualenv
  shell:
    cmd: 'cd /usr/src/octoprint_toggle; {{ octoprint_home }}/venv/bin/python setup.py clean install'

- name: install sudoers entry for toggle restart
  lineinfile:
    path: /etc/sudoers.d/octo
    line: '%octo ALL=NOPASSWD: /usr/bin/make -C /usr/src/toggle install'
    state: present

- name: setup FB rotation in uEnv
  replace:
    regexp: "(cmdline=.*)"
    replace: "\\1 fbcon=rotate:1"
    path: /boot/uEnv.txt

- name: enable toggle service
  service:
    name: toggle
    enabled: yes
