---
- name: Clean apt to gain back space
  command: apt clean

- name: Add thing-printer feeds
  apt_key:
    url: http://kamikaze.thing-printer.com/debian/public.gpg
    state: present

- name: Add specified repository into sources list
  apt_repository:
    repo: deb [arch=armhf] http://kamikaze.thing-printer.com/debian/ stretch main
    state: present

- name: Update package list
  apt:
    update_cache: yes

- name: Install clutter and python bindings
  apt:
    pkg:
      - gir1.2-mash-0.3-0
      - gir1.2-mx-2.0
      - libcogl20
      - libclutter-1.0-0
      - libclutter-imcontext-0.1-0
      - libcluttergesture-0.0.2-0
      - libclutter-1.0-common
      - libclutter-imcontext-0.1-bin
      - libcogl-common
      - libmx-bin
      - python3-gi-cairo
    state: present
    force: yes

- name: Clone toggle from git
  git:
    repo: https://github.com/intelligent-agent/toggle
    dest: '{{ toggle_home }}'
    depth: 1

- name: Copy toggle service file
  copy:
    src: '{{ role_path }}/files/toggle.service'
    dest: /lib/systemd/system/toggle.service

- name: Grant sudo to debian user for restarting toggle service
  lineinfile:
    path: /etc/sudoers.d/debian
    line: '%debian ALL=NOPASSWD: /bin/systemctl restart toggle.service'
    state: present

- name: Use pip3 to install Toggle
  pip:
    chdir: '{{ toggle_home }}'
    requirements: '{{ toggle_home }}/requirements.txt'
    executable: pip3

- name: Install toggle data files
  shell:
    chdir: "{{ toggle_home }}"
    cmd: "python3 setup.py install_data"

- name: Set up the local.cfg file
  copy:
    dest: /etc/toggle/local.cfg
    owner: debian
    group: debian
    content: |
      [OctoPrint]
      user = toggle
      authentication =

- name: enable the toggle service
  block:
    - name: Attempt to enable toggle with systemd module
      systemd:
        name: toggle
        daemon_reload: yes
        enabled: yes
  rescue:
    - name: Fallback to shell
      shell: systemctl enable toggle

- name: clone octoprint toggle plugin from git
  git:
    repo: https://github.com/intelligent-agent/octoprint_toggle
    dest: /usr/src/octoprint_toggle
    depth: 1

- name: install octoprint toggle plugin in virtualenv
  shell:
    cmd: 'cd /usr/src/octoprint_toggle; {{ octoprint_home }}/venv/bin/python setup.py clean install'

- name: setup FB rotation in uEnv
  replace:
    regexp: "(cmdline=.*)"
    replace: "\\1 fbcon=rotate:1"
    path: /boot/uEnv.txt

- name: Replicape - copy toggle-runfirst service file
  copy:
    src: '{{ role_path }}/files/toggle-runfirst.service'
    dest: /etc/systemd/system/toggle-runfirst.service

- name: Recore - Script - install toggle-runfirst
  copy:
    src: '{{ role_path }}/files/toggle-runfirst'
    dest: /usr/lib/
    mode: +x

- name: Replicape - enable the toggle-runfirst service
  block:
    - name: Attempt to enable toggle-runfirst service normally
      systemd:
        name: toggle-runfirst
        daemon_reload: yes
        enabled: yes
  rescue:
    - name: Fallback to shell
      shell: systemctl enable toggle-runfirst
